<!DOCTYPE html>
<html lang="en">

<style>
       
        h1{text-align: center;}
        h2{text-align: left;}
        button {
        border: none;
        cursor: pointer;
        appearance: none;
        background-color: inherit;
        }
</style>

<body style="background-color:bisque;" >

    <h1> Energy Analytics and Prediction for USA </h1>
    <h2> By Shruti Houji and Sakshi Rathi. </h2>

    <p> 
        The objective of this application is to provide an insight on energy analytics in order to optimize 
        energy production, consumption, and management. This will lead to a sustainable energy system wherein  
        the demand and supply of resources are in sync.The analysis of the resources help in finding trends, seasonality or any pattern. 
        The forecasting can help in future storage and refinery capacity planning.
        This can help deciding organizatons to make informed decisions about the usage of a resource, to improve
        efficiency, reduce costs, and reduce detrimental effects on environment. We will be covering natural gas, electricity and pretroleum.
    </p>

    <p>View Code</p>
    <p>View Raw Data</p>

    </br>
    </br>
    
    <div style="text-align: center;">
    <button type="submit" onclick = "window.location.href='/Dashboard/Resources';" >
        <img src="static/images/img1.jpg" style= "width:656px;height:400px;"/>
      </button>

      <div style="text-align: center;">
        <button type="submit" >
            <img src="static/images/img1.jpg" style= "width:656px;height:400px;"/>
          </button>
        </div>

    </div>

</body>
</html>