<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        />
        <link rel="stylesheet" href="static/css/style.css" />
        <title>Dashboard Side Nav Bar</title>
    </head>
    <body>
        <input type="checkbox" name="" id="check" />
        <header>
            <label for="check">
                <i class="fas fa-bars" id="hamburguer"></i>
            </label>
           
            <div>
                <h1 style = "text-align: center; color: white; margin-left: 500px ;" > Energy Analytics & Prediction for USA </h1>
                </div>
           
        </header>
        <div class="sidebar">
            <center>
                <img src="assets/rosto-mulher.jpg" class="profile-img" alt="" />
                <h4>Menu</h4>
            </center>
            <nav>
               
                <a href="https://github.iu.edu/sakrathi/time-series-proj"
                    ><i class="fas fa-cogs"></i><span>Github Link</span></a
                >
                <a href="https://www.eia.gov"><i class="fas fa-table"></i><span>View Dataset</span></a> 
               
            </nav>
        </div>

        <div class="content">
            <div class="wrapper">
                <br>
                <h3>By Shruti Houji & Sakshi Rathi</h3>
                <br> 
                <br>
                <h1 style="text-align: center;">Overview</h1>
                <p> 
                    The objective of this application is to provide an insight on energy analytics in order to optimize 
                    energy production, consumption, and management. This will lead to a sustainable energy system wherein  
                    the demand and supply of resources are in sync.The analysis of the resources help in finding trends, seasonality or any pattern. 
                    The forecasting can help in future storage and refinery capacity planning.
                    This can help deciding organizatons to make informed decisions about the usage of a resource, to improve
                    efficiency, reduce costs, and reduce detrimental effects on environment. We will be covering natural gas, electricity and pretroleum.
                </p>

                <div style="text-align: center;">
                    <button type="submit" onclick = "window.location.href='/Dashboard/Resources';">
                        <img src="static/images/img1.jpg" style= "width:656px;height:400px;"/>
                      </button>
                    </div>

            </div>
        </div>
    </body>
</html>